{% extends "layout.html" %}

{% block title %}
    Add Book Editor
{% endblock %}

{% block main %}
    <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
    <h1>Add Book Editor</h1>
    Title: <input type="title" id="title"><br>
    Description: <textarea id="description"></textarea>
    <textarea cols="80" id="editor1" name="editor1" rows="10" data-sample-short>Type your contents here.</textarea>
    <p id="status">Status for auto-save: <span style="color:red">Not Saved Yet</span></p>

    <script>
        var editor1 = CKEDITOR.replace('editor1', {
          height: 400,
          baseFloatZIndex: 10005
        });

        editor1.on('change', function(ev) {
            $.ajax('/book/add-manually', {
                type: 'POST',
                data: { title: document.getElementById('title').value, contents: editor1.getData(), description: document.getElementById('description').value },  // data to submit
                success: function (data) {
                    document.getElementById('status').innerHTML = 'Status for auto-save: <span style="color:green">Success</span>';
                },
                error: function (error) {
                    document.getElementById('status').innerHTML = 'Status for auto-save: <span style="color:green">Error</span>';
                }
            });
        })
    </script>
{% endblock %}