{% extends "layout.html" %}

{% block title %}
    Changelog
{% endblock %}

{% block main %}
    <h1>Changelog</h1>
    <p><strong>Website Update (Medium | 0.0.1&nbsp;-&gt; 0.1.0) 03/13/2020</strong></p>
    <p>Dear users,&nbsp;</p>
    <p>I&#39;m here to announce we have a medium updates:</p>
    <ol>
    	<li><strong>Added Public Profile Feature</strong> - From now on, every user has a public profile image, however, user for now can&#39;t choose whether they want to display profile public or not. Make sure to contact thru&nbsp;<a href="https://readsaltie.pythonanywhere.com/survey">survey</a>&nbsp;if you don&#39;t want your profile page to be public. The link to public profile varied based on your username. Format is something like this: <em>https://readsaltie.pythonanywhere.com/profile/&lt;YOUR USERNAME HERE&gt;&nbsp;</em>.&nbsp;</li>
    	<li><strong>Added Profile Image</strong> - Now you can have profile image displayed on your public profile page. (Still in experiment)</li>
    	<li><strong>Added Follow Feature&nbsp;</strong>- If you go to a user&#39;s public profile page, you can click a &quot;follow&quot; button, it sort like YouTube&#39;s subscribe button.</li>
    	<li><strong>Added Notification Feature</strong> - If the user that you chose to followed has published a new book, you will see on the inbox button at the top, click on the &quot;inbox&quot; text, and you should see the notificatoon there. Click and you can read the book.</li>
    	<li><strong>Added Publish Manually Feature</strong> - You can now write book manually using <a href="https://readsaltie.pythonanywhere.com/book/add-manually">this page</a>. It&#39;s auto-save. If you want to publish your book, you can do so by go to <a href="http://readsaltie.pythonanywhere.com/profile">profile</a>, scroll down to draft book section, and click on the book you want to publish, then upload an image for the book, and click publish button.</li>
    </ol>
    <p>And yes, that&#39;s all updates we got, if you would like to suggest a feature, make sure you do so by go to&nbsp;<a href="https://boyuanliu6.pythonanywhere.com/survey">/survey</a>&nbsp;. Thank you and enjoy the website. :)</p>

    <hr>
    <p><strong>Website Update (Minor | 0.0.0 -&gt; 0.0.1) 03/08/2020</strong></p>
    <p>Dear users,&nbsp;</p>
    <p>I&#39;m here to announce we have a few minor updates:</p>
    <ol>
    	<li><strong>Added Weekly Contest</strong>&nbsp;- Starting today (03/08/2020) and every Sunday, there will be 2 popular books automatically selected by our system, one is most viewed and one is most rated. However, there is no opt-out feature, so if you don&#39;t want your book be put on our popular books, please contact us thru&nbsp;<a href="https://boyuanliu6.pythonanywhere.com/survey">/survey.</a></li>
    	<li><strong>Track view for each book</strong>&nbsp;- Starting today (03/08/2020), every time when you clicked on a book, that book&#39;s view will increase. And this is the only information we will keep track. &nbsp;Your privacy still remain private.</li>
    </ol>
    <p>And yes, that&#39;s all updates we got, if you would like to suggest a feature, make sure you do so by go to&nbsp;<a href="https://boyuanliu6.pythonanywhere.com/survey">/survey</a>&nbsp;. Thank you and enjoy the website. :)</p>
{% endblock %}