{% extends "layout.html" %}

{% block title %}
    503 Under Maintenance
{% endblock %}

{% block main %}
    <h1>503 Under Maintenance</h1>
    <p>In this upgrade, we will be focusing on:</p>
    <ul>
        <li>Able to let user follow an author.</li>
        <li>Able to let the system send a notification to subscribers if their author published a new book.</li>
        <li>Able to let the user write publish the book through rich text editor available on the website.</li>
        <li>Able to message a user</li>
    </ul>
    <p>It will approximately last 4-6 days since there is a lot to update. Approximately we will finish updating our website on March 16, 2020, at 12:00 PM. If you have any questions, please feel free to email us. Thanks for your patience.</p>
    <p>If you want to keep up-to-date, make sure to go to <a href="https://readsaltie.statuspal.io">our status page</a> for more detail.</p>
{% endblock %}