{% extends "layout.html" %}

{% block title %}
    Music
{% endblock %}

{% block main %}
    <!--
    <h2>This is the Saltie National Anthem! (Soviet National Anthem)</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/WPa0knGurUo?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h2>Saltie National Anthem! (Without lyrics)</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/krE-myg6Isw?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    -->
    <h1>Coming Soon!</h1>
{% endblock %}

